<div align="center">
<img alt="if" height="200" style="border-radius:55px;" src=https://www.ifpb.edu.br/imagens/logotipos/ifpb-1>

# **Estatística Aplicada à Computação**

**CURSO BACHARELADO EM ENGENHARIA DE COMPUTAÇÃO**

**PROFESSOR:** *PAULO RIBEIRO LINS JUNIOR*

**ALUNO:** *Ynnayron Juan Lopes da Silva*


### **LISTA DE EXERCICIO**


---------

### **Questão 1**

Concatenar	 dois	 ou	 mais	 DataFrames	 pandas	 consiste	 na
operação	 de	 empilhar	 um	 "no	 topo"	 do	 outro,	 gerando	 um
DataFrame	único	como	resultado.

quando concatenamos no sentido da coluna ele empilha verticalmente

In [14]:
import pandas as pd
import numpy as np
Mercearia = pd.DataFrame({"loja":["A", "A", "A"],
"dia": ["sex", "sab", "dom"],
"valor": [7500, 9500, 8200]})
Farmácia = pd.DataFrame({"loja":["B", "B", "B"],
"dia": ["sex", "sab", "dom"],
"valor": [5100, 8250, 9900]})
Restaurante = pd.DataFrame({"loja":["C", "C"],
"dia": ["sab", "dom"],
"valor": [7500, 11800]})
lojas	=	pd.concat([Mercearia,Farmácia,Restaurante],	axis=0,	ignore_index=True)
print(lojas)

  loja  dia  valor
0    A  sex   7500
1    A  sab   9500
2    A  dom   8200
3    B  sex   5100
4    B  sab   8250
5    B  dom   9900
6    C  sab   7500
7    C  dom  11800

quando concatenamos no sentido da linha ele empilha horizontalmente

In [15]:
import pandas as pd
import numpy as np
Mercearia = pd.DataFrame({"loja":["A", "A", "A"],
"dia": ["sex", "sab", "dom"],
"valor": [7500, 9500, 8200]})
Farmácia = pd.DataFrame({"loja":["B", "B", "B"],
"dia": ["sex", "sab", "dom"],
"valor": [5100, 8250, 9900]})
Restaurante = pd.DataFrame({"loja":["C", "C"],
"dia": ["sab", "dom"],
"valor": [7500, 11800]})
lojas	=	pd.concat([Mercearia,Farmácia,Restaurante],	axis=1,	ignore_index=True)
print(lojas)

   0    1     2  3    4     5    6    7        8
0  A  sex  7500  B  sex  5100    C  sab   7500.0
1  A  sab  9500  B  sab  8250    C  dom  11800.0
2  A  dom  8200  B  dom  9900  NaN  NaN      NaN

### **Questão 2**

In [11]:
import pandas as pd
import numpy as np
df_sql = pd.DataFrame({"email":["rakesh@xyz.com",
"ecg@acmecorpus.com"]})
df_python = pd.DataFrame({"email":["ana@xyz.com",
"jonas@acmecorpus.com",
"rakesh@xyz.com"]})

alunos	=	pd.concat([df_sql,	df_python],	ignore_index=True)
alunos	=	alunos.drop_duplicates()
sql_e_python	=	df_sql.merge(df_python)	
so_sql	=	df_sql[df_sql.email.isin(df_python.email)==False]
so_python	=	df_python[df_python.email.isin(df_sql.email)==False]
print('------------------------------')
print('Alunos	Distintos:')
print(alunos)
print('------------------------------')
print('Alunos	cursaram	SQL	e	Python:')
print(sql_e_python)
print('------------------------------')
print('Alunos	cursaram	apenas	SQL:')
print(so_sql)
print('------------------------------')
print('Alunos	cursaram	apenas	Python:')
print(so_python)

------------------------------
Alunos	Distintos:
                  email
0        rakesh@xyz.com
1    ecg@acmecorpus.com
2           ana@xyz.com
3  jonas@acmecorpus.com
------------------------------
Alunos	cursaram	SQL	e	Python:
            email
0  rakesh@xyz.com
------------------------------
Alunos	cursaram	apenas	SQL:
                email
1  ecg@acmecorpus.com
------------------------------
Alunos	cursaram	apenas	Python:
                  email
0           ana@xyz.com
1  jonas@acmecorpus.com

**A)** Alunos	Distintos:

rakesh@xyz.com

ecg@acmecorpus.com

ana@xyz.com

jonas@acmecorpus.com

**B)**Alunos	cursaram	SQL	e	Python:

rakesh@xyz.com

**C)**Alunos	cursaram	apenas	SQL:

ecg@acmecorpus.com

Alunos	cursaram	apenas	Python:

ana@xyz.com

jonas@acmecorpus.com

### **Questão 3**

In [13]:
import	pandas	as	pd

dic_depto	=	{"id":["D1","D2","D3","D4"],	
													"nomDepto":	["Compras","RH","TI","Vendas"],
													"local":["SP","RJ","RJ","SP"]
													}
dic_emp	=	{"num":[3199,3269,3555,3788,3844],
											"nome":	["Ana","David","José","Marina","Luís"],
											"salario":[1600,2975,1500,5000,3000],
											"idDepto":	["D2","D3",None,"D2","D4"]
											}
depto	=	pd.DataFrame(dic_depto)
emp	=	pd.DataFrame(dic_emp)	
juncao_interna	=	pd.merge(emp,	depto,	left_on="idDepto",	right_on=
"id")
print('------------------------------')
print("depto:")
print(depto)
print('------------------------------')
print("emp:")
print(emp)
print('------------------------------')
print("junção	interna:")
print(juncao_interna)

------------------------------
depto:
   id nomDepto local
0  D1  Compras    SP
1  D2       RH    RJ
2  D3       TI    RJ
3  D4   Vendas    SP
------------------------------
emp:
    num    nome  salario idDepto
0  3199     Ana     1600      D2
1  3269   David     2975      D3
2  3555    José     1500    None
3  3788  Marina     5000      D2
4  3844    Luís     3000      D4
------------------------------
junção	interna:
    num    nome  salario idDepto  id nomDepto local
0  3199     Ana     1600      D2  D2       RH    RJ
1  3788  Marina     5000      D2  D2       RH    RJ
2  3269   David     2975      D3  D3       TI    RJ
3  3844    Luís     3000      D4  D4   Vendas    SP

O	método		merge()		é	utilizado	na	pandas	para	implementar
todos	 os	 tipos	 de	 operação	 de	 junção.
Conceitualmente,	 tanto a	junção	interna	
como	 junção	 natural funciona	 da	mesma	forma,	 ou	 seja,	 ela	 combina	 uma	 linha	 de	 um
DataFrame	 	R		 com	 uma	 linha	 de	 um	 DataFrame	 	S		 apenas
quando	 há	 coincidência	 nos	 valores	 das	 colunas	 especificadas	 na
condição	 de	 junção