<div align="center">
<img alt="if" height="200" style="border-radius:55px;" src=https://www.ifpb.edu.br/imagens/logotipos/ifpb-1>

# **Estatística Aplicada à Computação**

**CURSO BACHARELADO EM ENGENHARIA DE COMPUTAÇÃO**

**PROFESSOR:** *PAULO RIBEIRO LINS JUNIOR*

**ALUNO:** *Ynnayron Juan Lopes da Silva*


### **LISTA DE EXERCICIO**


---------

**Questao 1**


**Listas:** Uma lista (list) em Python é uma sequência ou coleção ordenada de valores. ... O valores que formam uma lista são chamados elementos ou itens

In [2]:
dado=[1,2,3,4,5,6]
print(dado)

[1, 2, 3, 4, 5, 6]

**Dicionarios:** Dicionário é um tipo  de coleção que diferente das listas seu mapeamento vem apartir de chaves e valores definidos por strings

In [4]:
dados={'nome':"Thiago", 'idade':"19"}
print(dados['nome'])
print(dados['idade'])

Thiago
19

**Arrays numpy:** são estruturas de dados fornecidas pela biblioteca numpy. Esses arrays são projetados para lidar com grandes conjuntos de dados com eficiência e facilidade, principalmente quando se trata de conjuntos numéricos.E além disso, também é possível criar arrays numpy com mais de uma dimensão.

In [ ]:
import numpy as np
array_numpy = np.array([1, 2, 3, 4, 5])
array_numpy

In [ ]:
array_numpy2 = np.array([[1, 2, 3, 4, 5], [1, 2, 3, 4, 5]])
array_numpy2

**Series** são matrizes unidimensionais rotuladas capazes de armazenar dados de qualquer tipo (inteiro, string, float, objetos python, etc.). Os rótulos dos eixos são chamados coletivamente de índices

In [30]:
import pandas as pd
ser = pd.Series([1,2,3,4,5,6,7])
print(ser)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

**Questão 2**

In [28]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 35))
ser_matriz = np.array(ser).reshape(7,5)
ser_df = pd.DataFrame(ser_m)
ser_df.head(7)

   0  1  2  3  4
0  3  3  1  4  3
1  8  9  6  8  8
2  7  2  9  8  8
3  2  3  4  7  2
4  8  5  2  7  6
5  9  2  5  4  1
6  7  6  1  3  6

**Questão 3**

In [5]:
import pandas as pd
df1=pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv",usecols=["crim","medv"])
dataframe1=pd.DataFrame(df1)
dataframe1.head()

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

**Questão 4**

In [96]:
df= pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.rename(columns={'Type':'CarType'}, inplace=True)
df2=list(df.keys())
tamanho=len(df2)
dic={}
for i in range(tamanho):
  try:
    x=df2[i].replace(".","_")
  except:
    continue
  else:
    dic[df2[i]]=x
df.rename(columns=dic)

   Manufacturer    Model  CarType  ...  Weight   Origin                Make
0         Acura  Integra    Small  ...  2705.0  non-USA       Acura Integra
1           NaN   Legend  Midsize  ...  3560.0  non-USA        Acura Legend
2          Audi       90  Compact  ...  3375.0  non-USA             Audi 90
3          Audi      100  Midsize  ...  3405.0  non-USA            Audi 100
4           BMW     535i  Midsize  ...  3640.0  non-USA            BMW 535i
..          ...      ...      ...  ...     ...      ...                 ...
88   Volkswagen  Eurovan      Van  ...  3960.0      NaN  Volkswagen Eurovan
89   Volkswagen   Passat  Compact  ...  2985.0  non-USA   Volkswagen Passat
90   Volkswagen  Corrado   Sporty  ...  2810.0  non-USA  Volkswagen Corrado
91        Volvo      240  Compact  ...  2985.0  non-USA           Volvo 240
92          NaN      850  Midsize  ...  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]

**Questão 5**

In [97]:
import pandas as pd
import numpy as np
df=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.isnull().values.any()

True

**Questão 6**

In [107]:
import pandas as pd
import numpy as np
df=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df2=df.isnull().sum()
print(sum(df2))
print(df2.idxmax())

138
Luggage.room

**Questão 7**

In [99]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
dataframe1=pd.DataFrame(df["a"])
dataframe1.head()

    a
0   0
1   5
2  10
3  15

**Questão 8**

Letra **A**

In [100]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df=df[['c','b','a','d','e']]
df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

Letra **B**

In [101]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
cols = list(df)
cols = [cols[-1]] + cols[:-1]
df = df[cols]
df

    e   a   b   c   d
0   4   0   1   2   3
1   9   5   6   7   8
2  14  10  11  12  13
3  19  15  16  17  18

Letra **C**

In [102]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
x=df.columns.to_list()
x.reverse()
df[x]

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

**Questão 9**

In [103]:
import pandas as pd
import numpy as np
df=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df2=df.loc[0:10]
df3=df2.iloc[:,0:10]
df3

   Manufacturer       Model  ...             AirBags  DriveTrain
0         Acura     Integra  ...                None       Front
1           NaN      Legend  ...  Driver & Passenger       Front
2          Audi          90  ...         Driver only       Front
3          Audi         100  ...  Driver & Passenger         NaN
4           BMW        535i  ...                 NaN        Rear
5         Buick     Century  ...         Driver only         NaN
6         Buick     LeSabre  ...         Driver only       Front
7         Buick  Roadmaster  ...         Driver only        Rear
8         Buick     Riviera  ...         Driver only       Front
9      Cadillac     DeVille  ...         Driver only       Front
10     Cadillac     Seville  ...  Driver & Passenger       Front

[11 rows x 10 columns]

**Questão 10**

In [104]:
import pandas as pd
import numpy as np
df=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df2=df.loc[0:20]
df3=df2.iloc[:,0:3]
df3

   Manufacturer       Model     Type
0         Acura     Integra    Small
1           NaN      Legend  Midsize
2          Audi          90  Compact
3          Audi         100  Midsize
4           BMW        535i  Midsize
5         Buick     Century  Midsize
6         Buick     LeSabre    Large
7         Buick  Roadmaster    Large
8         Buick     Riviera  Midsize
9      Cadillac     DeVille    Large
10     Cadillac     Seville  Midsize
11    Chevrolet    Cavalier  Compact
12    Chevrolet     Corsica  Compact
13    Chevrolet      Camaro   Sporty
14    Chevrolet      Lumina  Midsize
15    Chevrolet  Lumina_APV      Van
16    Chevrolet       Astro      Van
17    Chevrolet     Caprice    Large
18    Chevrolet    Corvette   Sporty
19          NaN    Concorde    Large
20     Chrysler     LeBaron  Compact

**Questão 11**

In [105]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4), columns=list(range(1,5)))
df = df.loc[df.sum(axis=1) > 100]

df.tail(2)

    1   2   3   4
5  29  34  39  17
6  35  38  38  15

**Questão 12**

In [106]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df.loc[[0,2,1,3,4]]

    0   1   2   3   4
0   0   1   2   3   4
2  10  11  12  13  14
1   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24